@page "{id:int?}"
@using BookMan.Models;
@model BookMan.BookModel
@{
    ViewData["Title"] = "Book";
    Book book = @Model.Book;
}

<h1>Book Detail</h1>
<hr/>
<div>
    <ul>      
        <li>
            <label class="col-form-label">Title</label> 
            <input class="form-control" value=@book.Title name="title">
        </li>
        <li>
            <label class="col-form-label">Category</label>
            <input class="form-control" value=@book.Category name="category">
        </li>
        <li>
            <label class="col-form-label">Authors</label>
            <input class="form-control" value=@book.Authors name="authors">
        </li>
        <li>
            <label class="col-form-label">Price</label>
            <input class="form-control" value=@book.Price name="price">
        </li>
        <li>
            <label class="col-form-label">Publisher</label>
            <input class="form-control" value=@book.Publisher name="publisher">
        </li>
        <li>
            <label class="col-form-label">Year</label>
            <input class="form-control" value=@book.Year name="year">
        </li>
        <li>
            <label class="col-form-label">Description</label>
            <input class="form-control" value=@book.Description name="description">
        </li>
    </ul>
    <div>
        <form method="post" asp-page-handler="update" asp-route-data="@book">
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <form method="post" asp-page-handler="delete" asp-route-id="@book.Id">
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
</div>